@use '../../assets/scss/vars';

.TempUsersTableTools {
  display: grid;
  grid-template-columns: auto auto 1fr;
  column-gap: 1rem;
  grid-template-areas: "buttonDropdown clearTempListBtn .";
}

.buttonDropdown {
  grid-area: buttonDropdown;

  border: 1px solid vars.$temp-users-table-header-color;
  // color: vars.$primary-color;
  background-color: vars.$temp-users-table-header-color;
  color: #fff;
  border-radius: vars.$border-radius;

  width: 9rem;

  transition: 0.25s;
  &:hover {
    box-shadow: 0 0 5px vars.$temp-users-table-header-color;
  }

  .buttonsContainer {
    width: 18rem;
  }
  .buttonItem {
    color: rgba(0, 0, 0, 0.6);
    // color: vars.$temp-users-table-header-color;
    &:hover {
      background-color: rgba(vars.$temp-users-table-header-color, 0.8);
      // color: vars.$temp-users-table-header-color;
      // background-color: unset;
    }
  }
  .addMemberIcon {
    font-size: 1.2rem;
  }
  .removeMemberIcon {
    font-size: 1.2rem;
  }
  .addToTempListIcon {
    font-size: 1.3rem;
  }
}

.clearTempListBtn {
  grid-area: clearTempListBtn;

  max-width: 13rem;

  border: 1px solid vars.$danger-color;
  // color: #fff;
  color: vars.$danger-color;
  // background-color: vars.$danger-color;
  background: none;

  &:hover {
    box-shadow: 0 0 5px vars.$danger-color;
  }

  .clearIcon {
    font-size: 1.1rem;
  }
}