.TempUsersPage {
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 1rem;
  grid-template-columns: 90%;
  justify-content: center; // div.container margin:auto

  padding: 1.5rem 0;

  overflow: hidden;
}