@use "../../assets/scss/vars";

// .overflowHidden {
//     text-overflow: ellipsis;
//     overflow: hidden;
//     white-space: nowrap;
//     max-width: 100%;
//     // height: 100%;
//     // font-size: 0.9rem;
// }

.profile {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.buttons {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // gap: 1rem;
  display: grid;
  grid-template-columns: 1.25rem 1.25rem;
  column-gap: 0.5rem;
  place-items: center;
}

.detailsBtn,
.removeBtn {
  border: none;
  background: none;
  padding: 0;
}
.detailsBtn {
  color: vars.$primary-color;
  font-size: 1.2rem;
}
.removeBtn {
  color: vars.$danger-color;
  font-size: 1.4rem;
}

.colName {
  &:not(:first-child) {
    border-right: 1px solid #eee;
  }
}

$grid-cols: 0.5fr 0.5fr 1fr 1fr 1fr 0.6fr 1fr 0.5fr;
$min-width: 1100px;
$width: 100%;
$column-gap: 0.5rem;
.tableHeader {
  // display: grid;
  grid-template-columns: $grid-cols;
  min-width: $min-width;
  width: $width;
  column-gap: $column-gap;

  // background-color: vars.$channels-table-header-color;
  border-top: 3px solid vars.$channels-table-header-color;
  // color: #fff;
}
.tableRow {
  // display: grid;
  grid-template-columns: $grid-cols;
  min-width: $min-width;
  width: $width;
  column-gap: $column-gap;
}
