.MessageDetailsPage {
  display: grid;
  grid-template-columns: 95%;
  grid-template-rows: auto 1fr;
  justify-content: center; // div.container margin:auto

  padding: 1.5rem 0;

  overflow-x: hidden;
}
