@use '../../../assets/scss/vars';

.ChannelTables {

}

.tabs {
    display: grid;
    grid-auto-flow: column;
    background: #fff;
    box-shadow: vars.$box-shadow-tabs;
}

.tab {
    background: none;
    border: none;
    border-radius: 0;

    height: 3rem;

    border: 0px solid #fff;

    transition: 0.25s;
    &:hover:not(.active) {
        border-top: 4px solid #fff;
        border-bottom: 4px solid vars.$secondary-color;
    }
    &.active {
        background-color: rgba(vars.$secondary-color, 0.4);
    }
}