.ChannelDetailsPage {
    display: grid;
    grid-template-rows: auto auto;
    // row-gap: 1rem;
    grid-template-columns: 95%;
    justify-content: center; // div.container margin:auto

    padding: 1.5rem 0;

    overflow-x: hidden;
}