@use "../../assets/scss/vars";
@use "../../assets/scss/mediaquery";

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: vars.$modal-z-index;
  animation: fadeIn 0.25s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.WarningModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: vars.$modal-z-index;

  width: 30rem;
  min-height: 20rem;
  border-radius: vars.$border-radius;
  @include mediaquery.max-sm {
    width: 80%;
  }

  animation: slideUp 0.25s ease-out;

  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "title title"
    "bodyContainer bodyContainer"
    "cancel delete";
  // column-gap: 1rem;

  overflow: hidden; // without this line border radius is not visible

  .title {
    grid-area: title;

    display: flex;
    align-items: center;
    gap: 1rem;

    padding: 1rem;
    height: 3rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(vars.$danger-color, 1);

    color: #fff;
    h2 {
      font-size: 1.3rem;
    }
    .icon {
      font-size: 1.3rem;
    }
  }

  .bodyContainer {
    grid-area: bodyContainer;

    padding: 1rem;
  }

  .deleteBtn,
  .cancelBtn {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0;
    background-color: #fff;
    transition: 0.2s;
  }
  .deleteBtn {
    grid-area: delete;
    &:hover {
      background-color: rgba(vars.$danger-color, 0.9);
      color: #fff;
    }
  }
  .cancelBtn {
    grid-area: cancel;
    &:hover {
      background-color: rgba(vars.$secondary-color, 0.9);
      color: #fff;
    }
  }
}

.GroupOperationModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: vars.$modal-z-index;

  width: 30rem;
  // min-height: 24rem;
  height: 24rem;
  border-radius: vars.$border-radius;
  @include mediaquery.max-sm {
    width: 80%;
  }

  animation: slideUp 0.25s ease-out;

  display: grid;
  grid-template-rows: auto 1fr;// auto;
  grid-template-areas:
    "header"
    "bodyContainer";
    // "cancelBtn continueBtn";

  overflow: hidden; // without this line border radius is not visible

  .header {
    grid-area: header;

    display: flex;
    align-items: center;
    gap: 1rem;

    padding: 1rem;
    height: 3rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(vars.$secondary-color, 1);

    color: #fff;
    .title {
      font-size: 1.1rem;
      font-weight: 500;
    }
    .icon {
      font-size: 1.3rem;
    }
  }

  .bodyContainer {
    grid-area: bodyContainer;

    // padding: 1rem;
  }

  // .continueBtn,
  // .cancelBtn {
  //   border: 1px solid rgba(0, 0, 0, 0.1);
  //   border-radius: 0;
  //   background-color: #fff;
  //   transition: 0.2s;
  // }
  // .continueBtn {
  //   grid-area: continueBtn;
  //   &:hover {
  //     background-color: rgba(vars.$success-color, 0.9);
  //     color: #fff;
  //   }
  // }
  // .cancelBtn {
  //   grid-area: cancelBtn;
  //   &:hover {
  //     background-color: rgba(vars.$secondary-color, 0.9);
  //     color: #fff;
  //   }
  // }
}

@keyframes slideUp {
  from {
    transform: translate(-50%, 100%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

// warning message component
.modalWarningText {
  font-size: 1.1rem;
  margin-bottom: 0.7rem;

  .specialText {
    color: vars.$danger-color;
  }
}
