@use '../../assets/scss/vars';
@use '../../assets/scss/mediaquery';

.Topbar {
    display: grid;
    grid-template-columns: 3rem 1fr 3rem;
    place-items: center;
    grid-template-areas: "button title .";

    grid-area: topbar;

    height: 2.8rem;

    position: sticky;
    top: 0;
    z-index: 1; // overlap on scrollbar component (table rows)

    background-color: vars.$primary-color;
    // background-color: vars.$secondary-color;
    // background-color: darken(vars.$layout-background-color, 40);
    // background-color: #fff;
    // background-color: #AD7BE9;
    // background-color: #5D3891;
    box-shadow: vars.$box-shadow-topbar;
}

.title {
    grid-area: title;
    color: #fff;
    font-size: 1rem;
}

.sidebarOpen {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 2.0rem;
    height: 2.0rem;
    font-size: 1.7rem;

    background: none;
    border: none;

    color: #fff;

    visibility: hidden;
    @include mediaquery.sidebar {
        visibility: visible;
    }
}