@use '../../../assets/scss/vars';

.TextInput {
  border: 1px solid #bbb;
  border-top-right-radius: vars.$border-radius;
  border-bottom-right-radius: vars.$border-radius;
  font-size: 1rem;
  padding: 0 0.5rem;

  &:focus{
    outline: vars.$input-focus-outline;
  }
}