@use '../../assets/scss/vars';

.ProfileCard {
    display: grid;
    grid-template-columns: 1fr 2fr 2rem;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "image name logout"
        "image jobTitle jobTitle"
        "image department department";
    place-items: center center;
    column-gap: 0.5rem;
    // row-gap: 0.5rem;

    // height: 100px;
    padding: 0.5rem 0; 
}

.image {
    // grid-row: 1 / span 2;
    grid-area: image;
    align-self: start;

    width: 80px;
    height: 80px;
    border-radius: 8px; 
    border: 1px solid #ddd;
    // box-shadow: vars.$box-shadow;
}

.name, .department, .jobTitle {
    justify-self: start;

    // width: 100%;
    // overflow: hidden;
    // text-overflow: ellipsis;
    // white-space: nowrap;
}

.department, .jobTitle {
    font-size: 0.9rem;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.8);
}


.name {
    grid-area: name;
    align-self: end;
    
    font-size: 1rem;
}

.jobTitle {
    grid-area: jobTitle;    
}

.department {
    grid-area: department;
}

.logout {
    grid-area: logout;
    align-self: end;

    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.3rem;

    margin-bottom: 0.1rem;
    color: vars.$danger-color;
    border: none;
    border-radius: 3px;
    // padding: 1px;
    background: none;

    cursor: pointer;

    transition: 0.15s;
    &:hover {
        color: #fff;
        background-color: vars.$danger-color;
    } 
}