@use '../../assets/scss/vars';
@use '../../assets/scss/mediaquery';

.Sidebar {
    display: grid;
    grid-template-rows: auto 1rem 1fr;
    align-items: center;
    row-gap: 0.5rem;

    grid-area: sidebar;

    width: vars.$sidebar-width;
    // min-height: vars.$main-layout-min-height;
    // height: 100%;
    height: 100vh;

    overflow-y: auto;

    background-color: #fff;
    border-left: 1px solid #ddd;
    padding: 0 0.5rem;

    box-shadow: vars.$box-shadow-sidebar;

    // position: relative; // for toggler button
    // right: 0;

    position: sticky;
    top: 0;
    z-index: 2; // overlap on topbar(has z-index: 1)

    // right: -(vars.$sidebar-width); // write this outside media query. so when user shrinks window size can see the transition
    transition: right 0.5s;
    @include mediaquery.sidebar {
        position: fixed;
        top: 0;
        right: -(vars.$sidebar-width);
        // grid-row: 1 / 3; 
        // grid-column: 1 / 2;
        &.active {
            right: 0px;
            .toggler {
                visibility: visible;
            }
        }
    }
}

.hr {
    height: 1px;
    // padding: 0 1rem;
    // background-clip: content-box;
    background-color: rgba(0, 0, 0, 0.3);
}