@use '../../assets/scss/vars';

.LoadingPage {
    display: grid;
    place-items: center;
    height: 100vh;

    background-color: vars.$layout-background-color;
}

.error {
    color: vars.$danger-color;
    max-width: 80%;
    text-align: center;
}

:export {
    primaryColor: vars.$primary-color;
    backColor: rgba(0, 0, 0, 0.5);
}