@use '../../assets/scss/vars';

.NotFoundPage {
    display: grid;
    place-items: center center;
    height: 100vh;
    
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.link {
    display: flex;
    justify-content: cetner;
    align-items: center;
    gap: 0.25rem;

    border: 1px solid vars.$primary-color;
    color: vars.$primary-color;
    border-radius: 6px;
    padding: 0.5rem;

    transition: 0.15s;
    &:hover {
        background-color: vars.$primary-color;
        color: #fff;
    }
}