@use '../../../assets/scss/vars';
@use '../../../assets/scss/mediaquery';

.TableHeader {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    place-items: center;
    column-gap: 0.25rem;
    
    border-bottom: 1px solid #bbb;

    border-top-left-radius: vars.$border-radius;
    border-top-right-radius: vars.$border-radius;
    color: #555;
    background-color: vars.$channels-table-header-color;
}

.colName, .entityName {
    font-size: 1rem;
    text-align: center;
}

.colName {
    // font-size: 1rem;
    // text-align: center;
    @include mediaquery.max-xl {
        font-size: 0.9rem;
    }
    @include mediaquery.max-lg {
        font-size: 0.8rem;
    }

    @include mediaquery.max-md {
        display: none;
    }
}

.entityName {
    display: none;
    @include mediaquery.max-md {
        display: initial;
    }
}