@use "../../assets/scss/vars";

.header {
  background-color: vars.$users-table-header-color !important;
}

.AddManyUsersModalBody,
.EditManyUsersModalBody,
.DeleteManyUsersModalBody {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "main main"
    "button1 button2";

  height: 100%;
}

.mainWrapper {
  grid-area: main;
}

.main {
  // grid-area: main;
  padding: 0.5rem 0.7rem;
  // width: 100%;

  .section {
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 0.3rem;
  }
  .ul {
    // list-style-type: circle;
    list-style-position: inside;
    color: vars.$primary-color;
    padding: 0 1rem;
    li {
      list-style-type: disc;
    }
  }
  .tip {
    color: vars.$primary-color;
    // font-size: 0.9rem;
    // padding-right: 1rem;
    &.danger {
      color: vars.$danger-color;
      font-weight: 600;
    }
  }

  .imgContainer {
    width: 100%;
    padding: 0 1rem;
  }
  .img {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  .fileButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    margin-bottom: 0.5rem;
  }
  .uploadBtn {
    border: 1px solid vars.$primary-color;
    color: #fff;
    background-color: vars.$primary-color;

    width: 10rem;
    // margin: auto;
    // margin-bottom: 0.5rem;

    &:hover {
      box-shadow: 0 0 5px vars.$primary-color;
    }
    
    .icon {
      font-size: 1.1rem;
    }
  }
  .downloadBtn {
    border: 1px solid vars.$secondary-color;
    color: vars.$secondary-color;
    background: none;

    width: 10rem;

    &:hover {
      box-shadow: 0 0 5px vars.$secondary-color;
    }

    .icon {
      font-size: 1.2rem;
    }    
  }

  .fileChangeStatusText, .departmentValidationErrorText {
    min-height: 1.5rem;
    // margin: auto;
    text-align: center;
    &.success {
      color: vars.$success-color;
    }
    &.error {
      color: vars.$danger-color;
    }
  }

  .departmentsDropdown {
    width: 80%;
    height: 2.7rem;
    margin: auto;
    border-radius: vars.$border-radius;
  }

  // .textInput {
  //   width: 100%;
  //   height: 2.5rem;
  //   margin: 0.8rem 0;

  //   border: 1px solid #bbb;
  //   border-radius: 5px;
  //   font-size: 1rem;
  //   padding: 0 0.5rem;
  //   transition: 0.05s;
  //   &:focus{
  //       outline: vars.$input-focus-outline;
  //   }
  // }
  // .inputValidationErrorText {
  //   min-height: 1.5rem;
  //   text-align: center;
  //   color: vars.$danger-color;
  // }
}

.continueBtn,
.cancelBtn {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0;
  background-color: #fff;
  transition: 0.2s;
}
.continueBtn {
  grid-area: button2;
  &:hover {
    background-color: rgba(vars.$success-color, 0.9);
    color: #fff;
  }
}
.cancelBtn {
  grid-area: button1;

  &.row {
    grid-column: 1/-1;
  }

  &:hover {
    background-color: rgba(vars.$secondary-color, 0.9);
    color: #fff;
  }
}

.statusContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  padding: 0.5rem 0.7rem;

  text-align: center;

  &.error {
    color: vars.$danger-color;
  }
}

:export {
  primaryColor: vars.$primary-color;
}
